{% extends "layout_admin/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-5">
        <div class="card-header bg-dark text-white prototype">
          INSTANSI
          <a href="{% url 'tambah_instansi' %}" class="btn btn-outline-light"><i class="fa fa-plus"></i> Tambah</a>
          <span class="float-right">
            <a href="{% url 'ex_instansi' %}" class="btn btn-outline-light"><i class="fa fa-download"></i></a>
          </span>
        </div>
        <div class="card-body shadow-lg">
          {% for message in messages %}
          {% if message %}
          <div class="alert alert-success">
            {{ message }}
          </div>
          {% endif %}
          {% endfor %}
          <div class="table-responsive">
            <table class="table table-striped table-hover" id="myTable">
              <thead class="prototype">
                <tr align="center">
                  <th width="5%">NO.</th>
                  <th width="40%">NAMA</th>
                  <th width="17%">PEMBIMBING</th>
                  <th width="10%">NO.KONTAK</th>
                  <th width="7%">KUOTA</th>
                  <th width="7%">TERISI</th>
                  <th width="5%">AKSI</th>
                </tr>
              </thead>
              <tbody>
                {% for company in data %}
                <tr>
                  <td align="center">{{ forloop.counter }}.</td>
                  <td><a href="/master/instansi/ubah/{{ company.id }}">{{ company.nama }}</a></td>
                  <td>{{ company.pembimbing }}</td>
                  <td>{{ company.kontak }}</td>
                  <!-- <td><a href="https://www.google.com/maps/search/?api=1&query={{ company.alamat }}" target="_blank"
                      class="modal-trigger tooltipped" data-position="bottom" data-tooltip="Lihat peta">{{ company.alamat|slice:40 }}...</a>
                  </td> -->
                  <td align="center">{{ company.kuota }}</td>
                  <td align="center">
                    {% if company.slot == company.kuota %}
                    <span class="p-1 bg-danger text-white rounded">PENUH</span>
                    {% else %}
                    {{ company.slot }} dari {{ company.kuota }}
                    {% endif %}
                  </td>
                  <td align="center">
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                      data-target="#instansi-{{ company.id }}"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
                <div class="modal fade" tabindex="-1" role="dialog" id="instansi-{{ company.id }}">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title">HAPUS</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>JIKA ANDA MENGHAPUS DATA INSTANSI: <strong>"{{ company.nama }}"</strong>, MAKA DATA SISWA
                          YANG
                          SUDAH DIINPUT AKAN IKUT TERHAPUS!
                        </p>
                        <p>YAKIN HAPUS?</p>
                      </div>
                      <div class="modal-footer">
                        <a href="/master/instansi/hapus/{{ company.id }}" class="btn btn-outline-danger">Yakin</a>
                        <button type="button" class="btn btn-dark" data-dismiss="modal">TIDAK</button>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}