{% extends 'layout_admin/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-dark text-white prototype">
          <a href="{% url 'pembimbing_siswa' %}" class="btn btn-outline-light"><i class="fa fa-chevron-left"></i> kembali</a>
          PEMBIMBING SISWA &raquo; TAMBAH BARU
        </div>
        <div class="card-body shadow-lg">
          <div class="row">
            <div class="col-md-12">
              <form action="{% url 'tambah_pembimbing_siswa' %}" method="post">
                {% csrf_token %}

                {% for message in messages %}
                  {% if message %}
                  <div class="alert alert-success">
                    {{ message }}
                  </div>
                  {% endif %}
                {% endfor %}

                <div class="form-group">
                  <label for="{{ form.pembimbing_satu.label }}">{{ form.pembimbing_satu.label }}</label>
                  <select name="pembimbing_satu" id="{{ form.pembimbing_satu.label }}" class="this-select form-control" required>
                    <option >Pilih Pembimbing</option>
                    {% for p in pembimbing %}
                    <option value="{{ p.id }}">{{ p.nama }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="{{ form.siswa.label }}">{{ form.siswa.label }}</label>
                  <select name="siswa" id="{{ form.siswa.label }}" class="this-select form-control" required>
                    <option >Pilih Siswa</option>
                    {% for s in siswa %}
                      {% if s.isRapotTuntas %}
                        <option value="{{ s.id }}">{{ s.NIS }} &#8212; {{ s.nama }} &#8212; {{ s.jk }}</option>
                      {% else %}
                        <option disabled>{{ s.NIS }} &#8212; {{ s.nama }} &#8212; {{ s.jk }} &#8212; (Belum Tuntas)</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <button type="submit" class="btn btn-dark">Simpan</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert alert-warning shadow">
        <h2>Infomari</h2>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium hic sapiente nesciunt pariatur excepturi
        aut, quaerat nulla explicabo consequatur doloribus ea neque quas tempora, molestiae iusto, optio magnam
        voluptates incidunt!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur velit laboriosam eveniet nobis fuga error
        nesciunt, autem provident quisquam neque possimus! Nemo molestiae ea rerum itaque. Officia architecto provident
        iste?
      </div>
    </div>
  </div>
</div>
{% endblock %}