{% extends "layout_admin/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-5">
        <div class="card-header bg-dark text-white prototype">
          <a href="{% url 'get_master_instansi' %}" class="btn btn-outline-light"><i class="fa fa-chevron-left"></i> kembali
          </a>
          INSTANSI &raquo; TAMBAH BARU
        </div>
        <div class="card-body shadow-lg">
          <div class="row">
            <div class="col-md-12">
              <form action="{% url 'tambah_instansi' %}" method="post">
                {% csrf_token %}

                {% for message in messages %}
                {% if message %}
                <div class="alert alert-success">
                  {{ message }}
                </div>
                {% endif %}
                {% endfor %}

                {{ form.as_p }}
                <button type="submit" class="btn btn-dark">Simpan</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert alert-warning shadow">
        <h2>FYI</h2>
        <ul>
          <li>Data Instansi hanya untuk RPL.</li>
          <li>Setiap Instansi dapat diatur berapa banyaknya kuota peserta.</li>
          <li>Setiap Instansi dapat diatur berdasarkan <em>gender</em>, L/P atau semua <em>gender</em>.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}