{% extends "layout_admin/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-5">
        <div class="card-header bg-dark text-white prototype">
          <a href="{% url 'get_master_instansi' %}" class="btn btn-outline-light"><i class="fa fa-chevron-left"></i>
            kembali</a>
          INSTANSI &raquo; UBAH &raquo; {{ instansi.nama }}
        </div>
        <div class="card-body shadow-lg">
          <div class="row">
            <div class="col-md-12">
              <form action="/master/instansi/ubah/{{ instansi.id }}" method="post">
                {% csrf_token %}

                {% for message in messages %}
                {% if message %}
                <div class="alert alert-success">
                  {{ message }}
                </div>
                {% endif %}
                {% endfor %}

                <div class="form-group">
                  <label for="nama">Nama Instansi</label>
                  <input type="text" id="nama" class="form-control" name="nama" value="{{ instansi.nama }}" autofocus
                    required>
                </div>
                <div class="form-group">
                  <label for="pimpinan">Nama Pimpinan</label>
                  <input type="text" id="pimpinan" class="form-control" name="pimpinan" value="{{ instansi.pimpinan }}"
                    required>
                </div>
                <div class="form-group">
                  <label for="pembimbing">Nama Pembimbing</label>
                  <input type="text" id="pembimbing" class="form-control" name="pembimbing"
                    value="{{ instansi.pembimbing }}" required>
                </div>
                <div class="form-group">
                  <label for="alamat">Alamat Lengkap</label>
                  <textarea name="alamat" rows="4" id="alamat" class="form-control"
                    required>{{ instansi.alamat }}</textarea>
                </div>
                <div class="form-group">
                  <label for="kontak">Nomor Kontak</label>
                  <input type="number" id="kontak" maxlength="13" class="form-control" name="kontak"
                    value="{{ instansi.kontak }}" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" class="form-control" name="email" value="{{ instansi.email }}"
                    required>
                </div>
                <div class="form-group">
                  <label for="kuota">Kuota Peserta</label>
                  <input type="number" id="kuota" min="1" class="form-control" name="kuota" value="{{ instansi.kuota }}"
                    required>
                </div>
                <div class="form-group">
                  <label for="jk">Jenis Kelamin <em class="text-muted">(Penerimaan berdasarkan Jenis Kelamin)</em></label>
                  <select name="jk" id="jk" class="form-control this-select validate" required>
                    <option value="{{ instansi.jk }}">{{ instansi.jk }}</option>
                    <option>&#8212; Pilih Jenis Kelamin &#8212;</option>
                    <option value="L">Laki-laki</option>
                    <option value="P">Perempuan</option>
                    <option value="Semua">Semua Jenis Kelamin</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-dark">Simpan</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow mb-5">
        <!-- <div class="card-header alert-warning">
          
        </div> -->
        <div class="card-body">
          <!-- <h5>{{ instansi.nama }}</h5> -->
          {% if instansi.kuota == instansi.slot %}
          Terisi: <h5 class="p-1 text-danger rounded">Penuh</h5>
          {% else %}
          <h5 class="text-muted p-1">Terisi: {{ instansi.slot }} dari {{ instansi.kuota }}</h5>
          {% endif %}
          <table class="table table-bordered">
            <thead class="bg-dark text-white">
              <tr align="center">
                <th>NAMA</th>
                <th>KELAS</th>
              </tr>
            </thead>
            <tbody>
              {% if pkl|length > 0 %}
              {% for data in pkl %}
              <tr>
                <td>{{ data.nama_siswa }}</td>
                <td>{{ data.nama_siswa.kelas }}</td>
              </tr>
              {% endfor %}
              {% else %}
              <tr>
                <td colspan="2" align="center">Belum terisi</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}