{% extends "layout_admin/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-dark text-white prototype">
          <a href="{% url 'get_master_pembimbing' %}" class="btn btn-outline-light"><i class="fa fa-chevron-left"></i> kembali</a>
          PEMBIMBING &raquo; UBAH
        </div>
        <div class="card-body shadow-lg">
          <div class="row">
            <div class="col-md-12">
              <form action="/master/pembimbing/ubah/{{ pembimbing.id }}" method="post">
                {% csrf_token %}

                {% for message in messages %}
                  {% if message %}
                  <div class="alert alert-success">
                    {{ message }}
                  </div>
                  {% endif %}
                {% endfor %}

                <div class="form-group">
                  <label for="{{ form.nama.label }}">{{ form.nama.label }}</label>
                  <input type="text" name="nama" id="nama" class="validate form-control" value="{{ pembimbing.nama }}" required>
                </div>
                <div class="form-group">
                  <label for="{{ form.jurusan.label }}">{{ form.jurusan.label }}</label>
                  <select name="jurusan" id="" class="this-select form-control">
                  <option value="{{ pembimbing.jurusan }}">{{ pembimbing.jurusan }}</option>
                  <option value="TKJ">TKJ</option>
                  <option value="RPL">RPL</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-dark">Simpan</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert alert-warning shadow">
        <h2>FYI</h2>
        <ul>
          <li>Pembimbing adalah Guru Matapelajaran Produktif.</li>
          <li>Pembimbing dikelompokkan berdasarkan Jurusan.</li>
          <li>Setiap Pembimbing dapat membimbing Peserta berdasarkan tempat praktik.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}