{% extends "layout_admin/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-dark text-white prototype">
          <a href="{% url 'instansi_rpl' %}" class="btn btn-outline-light"><i class="fa fa-chevron-left"></i> kembali</a>
          INSTANSI &raquo; RPL &raquo; UBAH &raquo; {{ instansi.nama }}
        </div>
        <div class="card-body shadow-lg">
          <div class="row">
            <div class="col-md-12">
              <form action="/instansi/rpl/ubah/{{ instansi.id }}" method="post">
                {% csrf_token %}

                {% if msg %}
                <div class="alert alert-success">
                  {{ msg }}
                </div>
                {% endif %}

                <div class="form-group">
                  <label for="nama">Nama Instansi</label>
                  <input type="text" id="nama" class="form-control" name="nama" value="{{ instansi.nama }}" autofocus required>
                </div>
                <div class="form-group">
                  <label for="pimpinan">Nama Pimpinan</label>
                  <input type="text" id="pimpinan" class="form-control" name="pimpinan" value="{{ instansi.pimpinan }}" required>
                </div>
                <div class="form-group">
                  <label for="pembimbing">Nama Pembimbing</label>
                  <input type="text" id="pembimbing" class="form-control" name="pembimbing" value="{{ instansi.pembimbing }}" required>
                </div>
                <div class="form-group">
                  <label for="alamat">Alamat Lengkap</label>
                  <textarea name="alamat" id="alamat" class="form-control" required>{{ instansi.alamat }}</textarea>
                </div>
                <div class="form-group">
                  <label for="kontak">Nomor Kontak</label>
                  <input type="number" id="kontak" maxlength="13" class="form-control" name="kontak" value="{{ instansi.kontak }}" required>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" class="form-control" name="email" value="{{ instansi.email }}" required>
                </div>
                <div class="form-group">
                  <label for="kuota">Kuota Peserta</label>
                  <input type="number" id="kuota" max="6" min="1" class="form-control" name="kuota" value="{{ instansi.kuota }}" required>
                </div>
                <div class="form-group">
                  <label for="gender">Gender <em class="text-muted">(Penerimaan berdasarkan Gender)</em></label>
                  <select name="gender" id="gender" class="form-control" required>
                    <option value="{{ instansi.gender }}">{{ instansi.gender }}</option>
                    <option>&#8212; Pilih Gender &#8212;</option>
                    <option value="L">Laki-laki</option>
                    <option value="P">Perempuan</option>
                    <option value="Semua">Semua gender</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-dark">Simpan</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert alert-warning shadow">
        <h2>Infomari</h2>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium hic sapiente nesciunt pariatur excepturi
        aut, quaerat nulla explicabo consequatur doloribus ea neque quas tempora, molestiae iusto, optio magnam
        voluptates incidunt!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur velit laboriosam eveniet nobis fuga error
        nesciunt, autem provident quisquam neque possimus! Nemo molestiae ea rerum itaque. Officia architecto provident
        iste?
      </div>
    </div>
  </div>
</div>
{% endblock %}