<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{ SISWA AREA }</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../static/assets/css/style.siswa.css">
</head>

<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow font-prototype">
    <a class="navbar-brand" href="#">e-PKL.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between pl-3 font-avenir" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-pencil"></i>
            Portofolio
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#"><i class="fa fa-plane"></i> Ajukan Judul</a>
            <a class="dropdown-item" href="#"><i class="fa fa-users"></i> Bimbingan</a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a href="#" class="nav-link">Keluar</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row pt-5 pb-5 mt-5">
      <div class="col-md">
        <div class="alert alert-danger shadow"><i class="fa fa-info-circle   fa-fw"></i> pesan/info dari pembimbing/admin.</div>
      </div> <!-- ./col-md-6 -->
    </div> <!-- ./row -->

    <div class="row">
      <div class="col-md">
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <tr>
              <th style="width: 15%">NIS</th>
              <td style="width: 1%">:</td>
              <td>11110045</td>
            </tr>
            <tr>
              <th style="width: 15%">Nama</th>
              <td style="width: 1%">:</td>
              <td>Zul Hilmi</td>
            </tr>
            <tr>
              <th style="width: 15%">Kelas</th>
              <td style="width: 1%">:</td>
              <td>XII.RPL-3</td>
            </tr>
            <tr>
              <th style="width: 15%">Tempat PKL</th>
              <td style="width: 1%">:</td>
              <td>BukaLapak</td>
            </tr>
            <tr>
              <th style="width: 15%">Pembimbing 1</th>
              <td style="width: 1%">:</td>
              <td>Irwan Wardani, S.T.</td>
            </tr>
            <tr>
              <th style="width: 15%">Pembimbing 2</th>
              <td style="width: 1%">:</td>
              <td>Irwan Wardani, S.T.</td>
            </tr>
            <tr>
              <th style="width: 15%">Judul Portofolio</th>
              <td style="width: 1%">:</td>
              <td><em class="text-muted">belum punya judul.</em> <a href="#" class="btn btn-outline-dark">Ajukan Sekarang <i class="fa fa-pencil"></i></a></td>
            </tr>
          </table>
        </div> <!-- ./table-responsive -->
      </div> <!-- ./col-md -->
    </div> <!-- ./row -->
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>