<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{ SISWA AREA }</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../static/assets/css/style.siswa.css">
</head>

<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow font-prototype">
    <a class="navbar-brand" href="#">e-PKL.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between pl-3 font-avenir" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-pencil"></i>
            Portofolio
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#"><i class="fa fa-plane"></i> Ajukan Judul</a>
            <a class="dropdown-item" href="#"><i class="fa fa-users"></i> Bimbingan</a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a href="#" class="nav-link">Keluar</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row pt-5 mt-5">
      <div class="col-md">
        <h3>Submit Portofolio per BAB</h3>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 mb-4">
        <form action="">
          <div class="form-group">
            <select name="bab" id="" class="form-control" required="required" autofocus>
              <option value="">&#8212; Pilih BAB &#8212;</option>
              <option value="i">BAB I</option>
              <option value="ii">BAB II</option>
              <option value="iii">BAB III</option>
              <option value="iv">BAB IV</option>
            </select>
          </div>
          <div class="form-group">
            <label for="">Lampirkan Berkas</label>
            <input type="file" accept=".doc, .docx" class="form-control" name="" id="" required="required">
          </div>
          <div class="form-group">
            <textarea name="" id="" cols="30" rows="5" class="form-control"
              placeholder="Catatan..."></textarea>
          </div>
          <button class="btn btn-dark"><i class="fa fa-plane"></i> Kirim</button>
        </form>
      </div> <!-- ./col-md -->
      <div class="col-md-6">
        <div class="alert alert-info shadow">
          <h5>
            <i class="fa fa-info-circle fa-2x pull-right"></i>
            Tips men-Submit Berkas Portofolio
          </h5>
          <ol>
            <li>Pastikan berkas sudah siap untuk di <em>submit</em>/kirim</li>
            <li>Berkas harus bertipe <code>.doc</code> atau <code>.docx</code></li>
            <li>Catatan diisi seperlunya, tidak harus selalu diisi.</li>
          </ol>
        </div>
      </div>
    </div> <!-- ./row -->
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>