<div class="col l6">
    {% if msg %}
    <div class="card-panel teal lighten-5">
      <i class="material-icons left">check</i>
      {{ msg }}
    </div>
    {% endif %}

    <form action="/karya-ilmiah/submission-judul/" method="post">
      {% csrf_token %}
      <div class="input-field">
        <label for="judul">Ketik judul disini...</label>
        <textarea name="judul" id="judul" class="materialize-textarea" required></textarea>
      </div>
      <div class="input-field">
        <button type="submit" class="btn waves-effect">
          <i class="material-icons right">send</i>
          Kirim
        </button>
      </div>
    </form>
  </div>
  <div class="col l6">
    <div class="card z-depth-3">
      <div class="card-content grey lighten-5 grey-text">
        <h5>
          Tips Membuat Judul Karya Ilmiah
        </h5>
        <ol>
          <li>Cari di google</li>
          <li>Cari di google</li>
          <li>dan Cari di google</li>
          <li>dah gitu aja.</li>
        </ol>
      </div>
    </div>
  </div>