{% extends "layout_admin/base.html" %}

{% block siswa %}

{% if karil %}
{% for k in karil %}

<section class="karil-header z-depth-3">
  <div class="container">
    <div class="row">
      {% if k.status == 'Menunggu' %}
      <div class="col l2 center-align red-text">
        <i class="material-icons large">pause_circle_filled</i>
        <div>{{ k.status }}</div>
      </div> <!-- ./col l2 -->
      {% elif k.status == 'Ditolak' %}
      <div class="col l2 center-align red-text">
        <i class="material-icons large">cancel</i>
        <div>{{ k.status }}</div>
        <a href="/karya-ilmiah/judul/ubah/{{ k.id }}" class="teal-text">Perbaiki Judul</a>
      </div> <!-- ./col l2 -->
      {% elif k.status == 'Disetujui' %}
      <div class="col l2 center-align teal-text">
        <i class="material-icons large">check_circle</i>
        <div>{{ k.status }}</div>
      </div> <!-- ./col l2 -->
      {% endif %}

      <div class="col l10">
        <h4>{{ k.judul }}</h4>
        <div class="progress">
          <div class="determinate" style="width: 20%"></div>
        </div>
        <div class="grey-text">Progess Bimbingan: 20%</div>
        <div class="grey-text">Pembimbing 1: {{ k.pembimbing }}</div>
        <div class="grey-text">Pembimbing 2: {{ k.pembimbing.pembimbing_dua }}</div>
      </div>
    </div> <!-- ./row -->
  </div>
</section>
{% endfor %}

<section class="karil-body">
  <div class="container">
    <div class="row">
      <div class="col l2">
        <div class="tanggal grey-text right-align">
          24 Februari 2019
        </div>
      </div>
      <div class="col l10">
        <div class="history">
          <div class="status teal-text">
            <i class="material-icons left">check_circle</i>
            Selesai
          </div>
          BAB I: Pendahuluan
          <a href="#!" class="btn waves-effect waves-light"><i class="material-icons left">file_download</i>Unduh</a>
        </div>
      </div>
    </div> <!-- ./row-->

    <div class="row">
      <div class="col l2">
        <div class="tanggal grey-text right-align">
          26 Februari 2019
        </div>
      </div>
      <div class="col l10">
        <div class="history">
          <div class="status teal-text">
            <i class="material-icons left">check_circle</i>
            Selesai
          </div>
          BAB II: Instansi
          <a href="#!" class="btn waves-effect waves-light"><i class="material-icons left">file_download</i>Unduh</a>
        </div>
      </div>
    </div> <!-- ./row-->

    <div class="row">
      <div class="col l2">
        <div class="tanggal grey-text right-align">
          29 Februari 2019
        </div>
      </div>
      <div class="col l10">
        <div class="history">
          <div class="status grey-text">
            <i class="material-icons left">cancel</i>
            Pending
          </div>
          BAB III: Landasan Teori
        </div>
      </div>
    </div> <!-- ./row-->
    <hr>
    <div class="row">
      <div class="col l2">
        <div class="tanggal grey-text right-align">
          3 Januari 2020
        </div>
      </div>
      <div class="col l10">
        <div class="history">
          <div class="status teal-text">
            <i class="material-icons left">check_circle</i>
            Lengkap
          </div>
          <p><em>Progress</em> bimbingan dan semua berkas telah berhasil diselesaikan.
            Dengan ini kami nyatakan <b>YUDIS</b> siap Sidang.</p>
        </div>
      </div>
    </div> <!-- ./row-->

  </div>
</section>
{% else %}
<div class="center-align">
  <h3>Kamu belum mengajukan judul 😔</h3>
  <a href="/karya-ilmiah/judul/submit/" class="btn waves-effect waves-light">Ajukan Judul Sekarang</a>
</div>
{% endif %}
{% endblock %}