{% extends "layout_siswa/base.html" %}

{% block content %}
{% if errPembimbing %}
  <div class="container">
    <div class="row pt-5 mt-5">
      <div class="col-md">
        <h3>Submit Judul</h3>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-6 mb-4">
        <form action="{% url 'submit_judul' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <textarea name="judul" id="" cols="30" rows="5" class="form-control" required="required"
              placeholder="Tulis judul disini..." autofocus></textarea>
          </div>
          <button class="btn btn-dark" type="submit "><i class="fa fa-send"></i> Kirim</button>
        </form>
      </div> <!-- ./col-md -->
      <div class="col-md-6">
        <div class="alert alert-info shadow">
          <h5>
            <i class="fa fa-info-circle fa-2x pull-right"></i>
            Tips Membuat Judul
          </h5>
          <ol>
            <li>Observasi (Pengamatan)</li>
            <li>Menemukan Permasalahan</li>
            <li>Menentukan Topik</li>
            <li>Menentukan Tujuan Penulisan</li>
            <li>Menentukan Manfaat</li>
            <li>Menulis Judul</li>
          </ol>
        </div>
        <div class="alert alert-primary shadow ">
          <h5>Contoh untuk TKJ:</h5>
          <ol>
            <li>Rancang Bangun Web Server dengan Apache2 menggunakan Debian Lenny di SMK N 4 Tasikamalaya</li>
            <li>Rancang Bangun Web Server dengan Apache2 menggunakan Ubuntu 16.04 di Techno Park SMK N 4 Tasikamalaya
            </li>
            <li>Pembagian Bandwidth dengan Simple Queue menggunakan MikroTik RB750 di Kecamatan Purbaratu</li>
          </ol>
        </div>
        <div class="alert alert-success shadow ">
          <h5>Contoh untuk RPL:</h5>
          <ol>
            <li>Sistem Informasi Perpustakaan Berbasis Web di SMK N 4 Tasikamalaya</li>
            <li>Sub-Sistem Informasi Perpustakaan menggunakan Django di SMK N 4 Tasikamalaya</li>
            <li>Aplikasi Surat Masuk dan Keluar Berbasis Web di SMK N 4 Tasikamalaya</li>
            <li>Sub-Sistem Informasi Kehadiran Kelas Siswa Berbasis Mobile di SMK N 4 Tasikamalaya</li>
            <li>Rancang Bangun Website Jurusan RPL menggunakan Django di SMK N 4 Tasikamalaya</li>
          </ol>
        </div>
      </div>
    </div> <!-- ./row -->
  </div>
{% else %}
<div class="container">
  <div class="row pt-5 mt-5">
    <div class="col-md">
      <div class="alert alert-danger">
        <h2>😕 Hhmmm...</h2>
        Sepertinya Kamu belum punya Pembimbing. Silahkan hubungi Jurusan.
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}