{% extends "layout_admin/base.html" %}

{% block siswa %}
<section class="form-input">
  <div class="container">
    <div class="row">
      <div class="col l6">
        <h4>Perbaiki Judul</h4>
      </div>
    </div>
    <div class="row">
      <div class="col l6">
        {% if msg %}
        <div class="card-panel teal lighten-5">
          <i class="material-icons left">check</i>
          {{ msg }}
        </div>
        {% endif %}

        <form action="/karya-ilmiah/judul/ubah/{{ karil.id }}" method="post">
          {% csrf_token %}
          <div class="input-field">
            <label for="judul">Ketik judul disini...</label>
            <textarea name="judul" id="judul" class="materialize-textarea" required>{{ karil.judul }}</textarea>
          </div>
          <div class="input-field">
            <button type="submit" class="btn waves-effect">
              <i class="material-icons right">send</i>
              Kirim
            </button>
            <a href="/karya-ilmiah/judul" class="btn waves-effect">Kembali</a>
          </div>
        </form>
      </div>
      <div class="col l6">
        {% if karil.catatan is not None %}
        <div class="card z-depth-3">
          <div class="card-content teal lighten-5">
            <h5>Catatan dari Pembimbing</h5>
            <p>{{ karil.catatan }}</p>
          </div>
        </div>
        {% endif %}
        <div class="card z-depth-3">
          <div class="card-content grey lighten-5">
            <h5>
              Tips Membuat Judul Karya Ilmiah
            </h5>
            <ol>
              <li>Observasi (Pengamatan)</li>
              <li>Menemukan Permasalahan</li>
              <li>Menentukan Topik</li>
              <li>Menentukan Tujuan Penulisan</li>
              <li>Menentukan Manfaat</li>
              <li>Menulis Judul</li>
            </ol>
            <h5>Contoh untuk TKJ:</h5>
            <ol>
              <li>Rancang Bangun Web Server dengan Apache2 menggunakan Debian Lenny di SMK N 4 Tasikamalaya</li>
              <li>Rancang Bangun Web Server dengan Apache2 menggunakan Ubuntu 16.04 di Techno Park SMK N 4 Tasikamalaya
              </li>
              <li>Pembagian Bandwidth dengan Simple Queue menggunakan MikroTik RB750 di Kecamatan Purbaratu</li>
            </ol>
            <h5>Contoh untuk RPL:</h5>
            <ol>
              <li>Sistem Informasi Perpustakaan Berbasis Web di SMK N 4 Tasikamalaya menggunakan PHP</li>
              <li>Sub-Sistem Informasi Perpustakaan Berbasis Web di SMK N 4 Tasikamalaya menggunakan Django</li>
              <li>Aplikasi Surat Masuk dan Keluar di SMK N 4 Tasikamalaya menggunakan PHP</li>
              <li>Aplikasi Absensi Kehadiran Siswa di SMK N 4 Tasikamalaya Berbasis Mobile</li>
              <li>Rancang Bangun Website Jurusan RPL di SMK N 4 Tasikamalaya menggunakan PHP</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}