{% extends 'layout_admin/base_login.html' %}

{% block content %}
{% if request.session.id is None %}
<section class="login">
  <div class="container">
    <div class="row justify-content-end pb-3">
      <div class="col-md-6">
        <div class="text-right text-white prototype" data-aos="fade-left" data-aos-duration="4000">
          <h1>e-PKL</h1>
          <!-- <h2 class="avenir"><span class="block">SMK Negeri 4 Tasikamalaya</span></h2> -->
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-md-3">
        <div class="card shadow-lg" data-aos="fade-left" data-aos-duration="5000">
          <form action="/akun/masuk/" method="post">
            {% csrf_token %}

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            {% endif %}
            <div class="card-body">
              <div class="form-group">
                <input type="text" class="form-control" name="uname" placeholder="username" autofocus required="required">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="passwd" placeholder="password" required="required">
              </div>
              <div class="form-group float-right">
                <button type="submit" class="btn btn-outline-info">Login <i class="fa fa-chevron-right"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- <div class="row justify-content-end pt-2">
      <div class="col-md-3">
        <div class="text-muted text-right">&copy; TKI SMK Negeri 4 Tasikamalaya</div>
      </div>
    </div> -->
  </div>
</section>

{% else %}
<meta http-equiv='refresh' content='0;url=/dashboard'>
{% endif %}
{% endblock %}