<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>e-PKL.2019</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <!-- select2 -->
  <link rel="stylesheet" href="/static/vendor/select/select2.css">

  <!-- dataTables -->
  <link rel="stylesheet" href="/static/vendor/dataTables/datatables.min.css">
  <link rel="stylesheet" href="/static/vendor/dataTables/material2.min.css">
  <link rel="stylesheet" href="/static/vendor/dataTables/dataTables.material.min.css">

  <!-- css utama -->
  <link rel="stylesheet" href="/static/vendor/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="/static/assets/css/style.css">
</head>