{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>e-PKL &#8212; SMK Negeri 4 Tasikmalaya</title>
  <meta name="description" content="Aplikasi untuk mengelola data PKL SMK.">

  <link rel="stylesheet" href="/static/vendor/bs/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="{% static 'vendor/fa/css/all.min.css' %}">
  <link rel="stylesheet" href="/static/vendor/select/select2.min.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/assets/css/main.css">
</head>