<script src="/static/vendor/jquery-3.3.1.min.js"></script>
<script src="/static/vendor/bs/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/vendor/select/select2.min.js"></script>

<!-- select2 -->
<script src="/static/vendor/select/select2.min.js"></script>

<script>
  $(document).ready(function () {
    // dataTable
    $('#myTable').DataTable();

    // dropdown.untuk.opsi
    $('.dropdown-triger').dropdown();

    // select2
    $('.this-select').select2({
      placeholder: 'Pilih...'
    });
    $('.this-select-siswa').select2({
      placeholder: 'Pilih Siswa'
    });
    $('.this-select-instansi').select2({
      placeholder: 'Pilih Instansi'
    });

    // tooltip
    $('.tooltipped').tooltip();
  });
</script>