<!-- NAV -->
<div class="main-menu">
  <a href="#" data-target="mobile-nav" class="sidenav-trigger btn-flat waves-effect">MENU<i class="material-icons left">menu</i></a>
  <ul class="sidenav" id="mobile-nav">
    <li>
      <div class="nama-app white-text grey darken-2 center-align">
        e-PKL.
      </div>
    </li>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header waves-effect">
          <a href="/dashboard">
            <i class="material-icons left">dashboard</i>DASHBOARD
          </a>
        </div>
      </li> <!-- ./ list main menu > collapsible-header -->
      <li>
        <div class="collapsible-header waves-effect">
          <i class="material-icons">account_balance</i>INSTANSI
        </div>
        <div class="collapsible-body">
          <ul>
            {% if request.session.jurusan == 'TKJ' %}
            <li>
              <a href="/instansi/tkj" class="waves-effect">
                TKJ
                <i class="material-icons">wifi</i>
              </a>
            </li>
            {% elif request.session.jurusan == 'RPL' %}
            <li>
              <a href="/instansi/rpl" class="waves-effect">
                RPL
                <i class="material-icons">code</i>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </li> <!-- ./ list main menu > collapsible-header -->
      <li>
        <div class="collapsible-header waves-effect ">
          <i class="material-icons">mail</i>INSTANSI & SISWA
        </div>
        <div class="collapsible-body">
          <ul>
            {% if request.session.jurusan == 'TKJ' %}
            <li>
              <a href="/pkl/tkj" class="waves-effect">
                TKJ
                <i class="material-icons">wifi</i>
              </a>
            </li>
            {% elif request.session.jurusan == 'RPL' %}
            <li>
              <a href="/pkl/rpl" class="waves-effect">
                RPL
                <i class="material-icons">code</i>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </li> <!-- ./ list main menu > collapsible-header -->
      <li>
        <div class="collapsible-header waves-effect">
          <i class="material-icons left">group</i>PEMBIMBING
        </div>
        <div class="collapsible-body">
          <ul>
            <li>
              <a href="/pembimbing/siswa" class="waves-effect">
                Pembimbing & Siswa
                <i class="material-icons left">group</i>
              </a>
            </li>
          </ul>
        </div>
      </li> <!-- ./ list main menu > collapsible-header -->
      <li>
        <div class="collapsible-header waves-effect"><i class="material-icons">insert_drive_file</i>KARYA ILMIAH</div>
        <div class="collapsible-body">
          <ul>
            {% if request.session.jurusan == 'TKJ' %}
            <li>
              <a href="/karya-ilmiah/pengajuan-judul/" class="waves-effect">
                Pengajuan Judul
                <i class="material-icons">send</i>
              </a>
            </li>
            <li>
              <a href="/karya-ilmiah/#!" class="waves-effect">
                Bimbingan
                <i class="material-icons">account_balance</i>
              </a>
            </li>
            <li>
              <a href="/karya-ilmiah/#!" class="waves-effect">
                Timeline
                <i class="material-icons">timeline</i>
              </a>
            </li>
            {% elif request.session.jurusan == 'RPL' %}
            <li>
              <a href="/karya-ilmiah/pengajuan-judul" class="waves-effect">
                Pengajuan Judul
                <i class="material-icons">send</i>
              </a>
            </li>
            <li>
              <a href="/karya-ilmiah/#!" class="waves-effect">
                Bimbingan
                <i class="material-icons">account_balance</i>
              </a>
            </li>
            <li>
              <a href="/karya-ilmiah/#!" class="waves-effect">
                Timeline
                <i class="material-icons">timeline</i>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </li> <!-- ./ list main menu > collapsible-header -->
      <li>
        <div class="collapsible-header waves-effect">
          <a href="#!">
            <i class="material-icons left">gavel</i>SIDANG
          </a>
        </div>
      </li> <!-- ./ list main menu > collapsible-header -->

      <li>
        <div class="divider"></div>
      </li>

      <li>
        <div class="collapsible-header waves-effect"><i class="material-icons">mood</i>Hi, {{ request.session.nama }}</div>
        <div class="collapsible-body">
          <ul>
            <!-- <li>
              <a href="#" class="waves-effect">
                Ubah Katasandi
                <i class="material-icons">locked</i>
              </a>
            </li> -->
            <li>
              <a href="/akun/keluar" class="waves-effect">
                Keluar
                <i class="material-icons">logout</i>
              </a>
            </li>
          </ul>
        </div>
      </li> <!-- ./ list main menu > collapsible-header -->
    </ul>
  </ul>
  <a href="#" class="dropdown-triger btn-flat waves-effect grey darken-2 right" data-target="dropdown-aksi">
    <i class="material-icons right">more_vert</i>Hi, {{ request.session.nama }}
  </a>
  <ul id="dropdown-aksi" class="dropdown-content">
    <li><a href="/akun/keluar">Keluar</a></li>
  </ul>
</div>
<!-- ./NAV -->