<!-- NAV -->
<nav class="navbar navbar-expand-lg navbar-light bg-light prototype mb-5 shadow">
  <a class="navbar-brand" href="#">e-PKL.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}"><i class="fa fa-home"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          MASTER
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'get_master_peserta' %}"><i class="fa fa-users"></i> PESERTA</a>
          <a class="dropdown-item" href="{% url 'get_master_instansi' %}"><i class="fa fa-building"></i> INSTANSI</a>
          <a class="dropdown-item" href="{% url 'get_master_pembimbing' %}"><i class="fa fa-user"></i> GURU PEMBIMBING</a>
        </div>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          SURAT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href=""><i class="fa fa-plane"></i> PENJAJAKAN</a>
          <a class="dropdown-item" href=""><i class="fa fa-tag"></i> VERIFIKASI</a>
          <a class="dropdown-item" href="{% url 'get_surat_permohonan' %}"><i class="fa fa-envelope"></i> PERMOHONAN SISWA</a>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'get_surat_permohonan' %}">PKL</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          PEMBIMBING
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item" href="{% url 'pembimbing' %}"><i class="fa fa-user"></i> Pembimbing</a> -->
          <a class="dropdown-item" href="{% url 'pembimbing_siswa' %}"><i class="fa fa-users"></i> Pembimbing & Siswa</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          JURNAL
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><i class="fa fa-globe"></i> TKJ</a>
          <a class="dropdown-item" href="#"><i class="fa fa-code"></i> RPL</a>
        </div>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          PORTOFOLIO
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'pengajuan_judul' %}"><i class="fa fa-paper-plane"></i> Pengajuan Judul</a>
          <a class="dropdown-item" href="{% url 'bimbingan_isi' %}"><i class="fa fa-file-text-o"></i> Isi</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          VERIFIKASI
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><i class="fa fa-calendar"></i> Jadwal</a>
          <a class="dropdown-item" href="#"><i class="fa fa-edit"></i> Penilaian</a>
        </div>
      </li> -->
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-muted">{{ request.user }} &nbsp; &bull;</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/akun/keluar/">Keluar</a>
      </li>
    </ul>
  </div>
</nav>
<!-- ./NAV -->