{% extends "layout_admin/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-dark text-white prototype">
          <!-- SURAT &raquo; PERMOHONAN SISWA -->
          SISWA YANG TELAH MENDAPAT TEMPAT PRAKTIK
          <a href="{% url 'tambah_surat_permohonan' %}" class="btn btn-outline-light"><i class="fa fa-plus"></i> Tambah</a>
          <span class="float-right">
            <a href="{% url 'export_instansi_siswa_rpl' %}" class="btn btn-outline-light"><i class="fa fa-download"></i></a>
          </span>
        </div>
        <div class="card-body shadow-lg">
          {% for message in messages %}
            {% if message %}
            <div class="alert alert-success">
              {{ message }}
            </div>
            {% endif %}
          {% endfor %}
          <div class="table-responsive">
            <table class="table table-striped table-hover" id="myTable">
              <thead class="prototype">
                <tr>
                  <th>NO.</th>
                  <th>NAMA</th>
                  <th>KELAS</th>
                  <th>INSTANSI</th>
                  <th width="350">ALAMAT</th>
                  <th width="100">AKSI</th>
                </tr>
              </thead>
              <tbody>
                {% for letter in surat %}
                <tr>
                  <td>{{ forloop.counter }}.</td>
                  <td>{{ letter.nama_siswa }}</td>
                  <td>{{ letter.nama_siswa.kelas }}</td>
                  <td>
                    <a href="/pkl/rpl/cetak/{{ letter.nama_instansi.id }}" target="_blank">{{ letter.nama_instansi }}</a></td>
                  <td>
                    <a href="https://www.google.com/maps/search/?api=1&query={{ letter.nama_instansi.alamat }}" target="_blank">
                      {{ letter.nama_instansi.alamat|slice:40 }}...
                    </a>
                  </td>
                  <td>
                    <a target="__blank" href="/pkl/rpl/cetak/pengantar/{{ letter.nama_instansi.id}}" class="btn btn-primary">
                      <i class="fa fa-print"></i>
                    </a>
                    <button type="button" data-toggle="modal" data-target="#instansi-{{ letter.id }}" class="btn btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
                <div class="modal fade" tabindex="-1" role="dialog" id="instansi-{{ letter.id }}">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title">HAPUS</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>YAKIN HAPUS?</p>
                      </div>
                      <div class="modal-footer">
                        <a href="{% url 'hapus_surat_permohonan' letter.id %}" class="btn btn-outline-danger">Yakin</a>
                        <button type="button" class="btn btn-dark" data-dismiss="modal">TIDAK</button>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
