{% extends "layout_admin/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-dark text-white prototype">
          <a href="{% url 'get_surat_permohonan' %}" class="btn btn-outline-light"><i class="fa fa-chevron-left"></i>
            kembali</a>
          PKL &raquo; TAMBAH BARU
        </div>
        <div class="card-body shadow-lg">
          <div class="row">
            <div class="col-md-12">
              {% for message in messages %}
              {% if message %}
              <div class="alert alert-success">
                {{ message }}
              </div>
              {% endif %}
              {% endfor %}
              <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="siswa">PILIH SISWA</label>
                  <select name="nama_siswa" class="this-select form-control" id="siswa" required>
                    <option value=""></option>
                    <optgroup label="XI.RPL-1">
                      {% for siswa in students_rpl_1 %}
                        {% if siswa.isRapotTuntas %}
                          <option value="{{ siswa.id }}">{{ siswa.NIS }} &#8212; {{ siswa.nama }} &#8212; {{ siswa.jk }}
                        {% else %}
                          <option disabled>{{ siswa.NIS }} &#8212; {{ siswa.nama }} &#8212; {{ siswa.jk }} &#8212; (Belum Tuntas)
                        {% endif %}
                      </option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="XI.RPL-2">
                      {% for siswa in students_rpl_2 %}
                        {% if siswa.isRapotTuntas %}
                          <option value="{{ siswa.id }}">{{ siswa.NIS }} &#8212; {{ siswa.nama }} &#8212; {{ siswa.jk }}
                        {% else %}
                          <option disabled>{{ siswa.NIS }} &#8212; {{ siswa.nama }} &#8212; {{ siswa.jk }} &#8212; (Belum Tuntas)
                        {% endif %}
                      </option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="XI.RPL-3">
                      {% for siswa in students_rpl_3 %}
                        {% if siswa.isRapotTuntas %}
                          <option value="{{ siswa.id }}">{{ siswa.NIS }} &#8212; {{ siswa.nama }} &#8212; {{ siswa.jk }}
                        {% else %}
                          <option disabled>{{ siswa.NIS }} &#8212; {{ siswa.nama }} &#8212; {{ siswa.jk }} &#8212; (Belum Tuntas)
                        {% endif %}
                      </option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="XI.RPL-4">
                      {% for siswa in students_rpl_4 %}
                        {% if siswa.isRapotTuntas %}
                          <option value="{{ siswa.id }}">{{ siswa.NIS }} &#8212; {{ siswa.nama }} &#8212; {{ siswa.jk }}
                        {% else %}
                          <option disabled>{{ siswa.NIS }} &#8212; {{ siswa.nama }} &#8212; {{ siswa.jk }} &#8212; (Belum Tuntas)
                        {% endif %}
                      </option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="XI.TKJ-1">
                      {% for siswa in students_tkj_1 %}
                        {% if siswa.isRapotTuntas %}
                          <option value="{{ siswa.id }}">{{ siswa.NIS }} &#8212; {{ siswa.nama }} &#8212; {{ siswa.jk }}
                        {% else %}
                          <option disabled>{{ siswa.NIS }} &#8212; {{ siswa.nama }} &#8212; {{ siswa.jk }} &#8212; (Belum Tuntas)
                        {% endif %}
                      </option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="XI.TKJ-2">
                      {% for siswa in students_tkj_2 %}
                        {% if siswa.isRapotTuntas %}
                          <option value="{{ siswa.id }}">{{ siswa.NIS }} &#8212; {{ siswa.nama }} &#8212; {{ siswa.jk }}
                        {% else %}
                          <option disabled>{{ siswa.NIS }} &#8212; {{ siswa.nama }} &#8212; {{ siswa.jk }} &#8212; (Belum Tuntas)
                        {% endif %}
                      </option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="XI.TKJ-3">
                      {% for siswa in students_tkj_3 %}
                        {% if siswa.isRapotTuntas %}
                          <option value="{{ siswa.id }}">{{ siswa.NIS }} &#8212; {{ siswa.nama }} &#8212; {{ siswa.jk }}
                        {% else %}
                          <option disabled>{{ siswa.NIS }} &#8212; {{ siswa.nama }} &#8212; {{ siswa.jk }} &#8212; (Belum Tuntas)
                        {% endif %}
                      </option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="XI.TKJ-4">
                      {% for siswa in students_tkj_4 %}
                        {% if siswa.isRapotTuntas %}
                          <option value="{{ siswa.id }}">{{ siswa.NIS }} &#8212; {{ siswa.nama }} &#8212; {{ siswa.jk }}
                        {% else %}
                          <option disabled>{{ siswa.NIS }} &#8212; {{ siswa.nama }} &#8212; {{ siswa.jk }} &#8212; (Belum Tuntas)
                        {% endif %}
                      </option>
                      {% endfor %}
                    </optgroup>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">PILIH INSTANSI</label>
                  <select name="nama_instansi" class="this-select form-control" required>
                    <option value=""></option>
                    {% for company in instansi %}
                      {% if company.slot < company.kuota %} 
                        <option value="{{ company.id }}">{{ company.nama }} &#8212;
                        Terisi {{ company.slot }} dari {{ company.kuota }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <button type="submit" class="btn btn-dark">Simpan</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert alert-warning shadow">
        <h2>FYI</h2>
        <ul>
          <li>Peserta hanya dapat daftar PKL jika nilai Semester 1 s.d 3 <strong>Tuntas</strong>.</li>
          <li>Peserta hanya diperbolehkan memilih satu tempat praktik.</li>
          <li>Peserta memilih tempat Praktik sesuai dengan ketersediaan kuota Peserta.</li>
          <li>Jika terjadi Perpindahan tempat Praktik, data peserta PKL harus dihapus terlebih dahulu.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}