{% extends "layout_admin/base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-dark text-white prototype">
          <a href="{% url 'surat_rpl' %}" class="btn btn-outline-light"><i class="fa fa-chevron-left"></i> kembali</a>
          INSTANSI & SISWA &raquo; RPL &raquo; TAMBAH BARU
        </div>
        <div class="card-body shadow-lg">
          <div class="row">
            <div class="col-md-12">
              {% if msg %}
              <div class="alert alert-success">
                {{ msg }}
              </div>
              {% endif %}
              <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="siswa">Siswa</label>
                  <select name="nama_siswa" class="this-select form-control" id="siswa" required>
                    <option value=""></option>
                    <optgroup label="XI.RPL-1">
                      {% for rpl1 in students_rpl_1 %}
                      <option value="{{ rpl1.id }}">{{ rpl1.NIS }} &#8212; {{ rpl1.nama }} &#8212; {{ rpl1.jk }}</option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="XI.RPL-2">
                      {% for rpl2 in students_rpl_2 %}
                      <option value="{{ rpl2.id }}">{{ rpl2.NIS }} &#8212; {{ rpl2.nama }} &#8212; {{ rpl2.jk }}</option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="XI.RPL-3">
                      {% for rpl3 in students_rpl_3 %}
                      <option value="{{ rpl3.id }}">{{ rpl3.NIS }} &#8212; {{ rpl3.nama }} &#8212; {{ rpl3.jk }}</option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="XI.RPL-4">
                      {% for rpl4 in students_rpl_4 %}
                      <option value="{{ rpl4.id }}">{{ rpl4.NIS }} &#8212; {{ rpl4.nama }} &#8212; {{ rpl4.jk }}</option>
                      {% endfor %}
                    </optgroup>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">Instansi</label>
                  <select name="nama_instansi" class="this-select form-control" required>
                    <option value=""></option>
                    {% for company in instansi %}
                      {% if company.slot < company.kuota %}
                        <option value="{{ company.id }}">{{ company.nama }} &#8212; Terisi {{ company.slot }} dari {{ company.kuota }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <button type="submit" class="btn btn-dark">Simpan</button>
              </form> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="alert alert-warning shadow">
        <h2>Infomari</h2>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium hic sapiente nesciunt pariatur excepturi aut, quaerat nulla explicabo consequatur doloribus ea neque quas tempora, molestiae iusto, optio magnam voluptates incidunt!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur velit laboriosam eveniet nobis fuga error nesciunt, autem provident quisquam neque possimus! Nemo molestiae ea rerum itaque. Officia architecto provident iste?
      </div>
    </div>
  </div>
</div>
{% endblock %}