{% extends 'layout_admin/base.html' %}

{% block content %}

{% if request.session.level is not empty %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Statistik.</h1>
      <div class="row mt-3 mb-5">
        <div class="col-md-3">
          <a href="{% url 'get_master_instansi' %}" class="btn btn-block text-left">
          <div class="card shadow text-white bg-primary mb-3">
            <div class="card-body">
              <span class="float-right">
                <i class="fa fa-building fa-5x"></i>
              </span>
              <h3>{{ instansi }}</h3>
              Instansi
            </div>
          </div>
          </a>
        </div>
        <div class="col-md-3">
          <a href="{% url 'get_master_peserta' %}" class="btn btn-block text-left">
          <div class="card shadow text-white bg-success mb-3">
            <div class="card-body">
              <span class="float-right">
                <i class="fa fa-users fa-5x"></i>
              </span>
              <h3>{{ students_count_rpl }}</h3>
              Siswa RPL
            </div>
          </div>
          </a>
        </div>
        <div class="col-md-3">
          <a href="{% url 'get_surat_permohonan' %}" class="btn btn-block text-left">
          <div class="card shadow mb-3 text-white bg-info">
            <div class="card-body">
              <span class="float-right">
                <i class="fa fa-rocket fa-5x"></i>
              </span>
              <h3>{{ ready_pkl }}</h3>
              Siap PKL
            </div>
          </div>
          </a>
        </div>
        <div class="col-md-3">
          <a href="#" class="btn btn-block text-left">
          <div class="card shadow text-white bg-danger mb-3">
            <div class="card-body">
              <span class="float-right">
                <i class="fa fa-home fa-5x"></i>
              </span>
              <h3>{{ not_yet }}</h3>
              Belum Siap
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<!-- <section class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card-panel red darken-4 white-text">
            Diinformasikan kepada seluruh peserta PKL, harus mengajukan judul dan segera di ACC paling lambat akhir bulan ini, Sabtu 31 Agustus 2019.
          <i class="material-icons left">info</i>
        </div>
      </div>
    </div>
  </div>
</section> -->
<meta http-equiv="refresh" content="0;url='/siswa/home/'">
{% endif %}


{% endblock %}