{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>e-PKL (R P L) SMK Negeri 4 Tasikmalaya</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'assets/css/style.main.css' %}">
</head>
<body>
  <section class="header">
    <div class="container">
      <div class="row pt-5 mb-3">
        <div class="col-md-2 text-center">
          <img src="https://upload.wikimedia.org/wikipedia/id/9/9e/Logo_SMK_Negeri_4_Tasikmalaya.png" style="width: 100px">
        </div>
        <div class="col-md-10 text-white ">
          <h1 class="prototype">Portal PKL <em class="avenir">(R P L)</em></h1>
          <h3 class="prototype">SMK Negeri 4 Tasikmalaya</h3>
          <p>Jl. Depok Sukamenak - Purbaratu</p>
        </div>
      </div>
      <div class="row pb-5">
        <!-- <div class="col-md-12">
          <div class="float-right">
            <a href="/akun/masuk" class="mb-3 btn btn-outline-light btn-block"><i class="fa fa-sign-in"></i> login</a>
          </div>
        </div> -->
        <div class="col-md-12">
          <div class="card shadow-lg mb-5">
            <div class="card-header">
              <h3 class="prototype">Statistik.</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <p><em>Realtime</em> infografis kesiapan peserta PKL <em>(RPL)</em>.</p>
                  <canvas id="pie-chart"></canvas>
                </div>
                <div class="col-md-6">
                  <table class="table">
                    <tr>
                      <th width="40%">Peserta</th>
                      <td width="5%">:</td>
                      <td>{{ jumlah_peserta }} siswa</td>
                    </tr>
                    <tr>
                      <th>DU/DI</th>
                      <td>:</td>
                      <td>{{ jumlah_instansi }}</td>
                    </tr>
                    <tr>
                      <th>Siap praktik</th>
                      <td>:</td>
                      <td>{{ ready_pkl }} <strong>({{ prosentase_ready }}%)</strong></td>
                    </tr>
                    <tr>
                      <th>Belum siap</th>
                      <td>:</td>
                      <td>{{ not_yet }} <strong>({{ prosentase_not_ready }}%)</strong></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- ./col-6 -->
        <div class="col-md-12">
          <div class="card shadow-lg mb-5">
            <div class="card-header">
              <h4 class="prototype">Keterserapan DU/DI.</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped" id="myTable">
                  <thead>
                    <tr>
                      <th>DU/DI</th>
                      <th>NAMA</th>
                      <th>KELAS</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for r in ready %}
                    <tr>
                      <td>{{ r.nama_instansi.nama }}</td>
                      <td>{{ r.nama_siswa.nama }}</td>
                      <td>{{ r.nama_siswa.kelas }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- ./row -->

      <div class="row">
        <div class="col-md-12">
          <footer class="text-center text-white avenir mb-5">
            &copy; 2022. RPL.
          </footer>
        </div>
      </div>

    </div> <!-- ./container -->
  </section>

  <script src="/static/vendor/jquery-3.3.1.min.js"></script>
  <script src="/static/vendor/bs/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: [{{ ready_pkl }}, {{ not_yet }}],
          backgroundColor: [
            '#00b894', '#ff7675', '#fdcb6e', 
          ],
          // label: 'Keterserapan tempat praktik'
        }],
        labels: ['Siap Praktik {{ prosentase_ready }}%', 'Belum Siap {{ prosentase_not_ready }}%']
      },
      options: {
        responsive: true,
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

    // dataTable
    $(document).ready(function () {
    // dataTable
      $('#myTable').DataTable();
    });
  </script>
  
</body>
</html>